<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4><a href="{{ site.baseurl }}/" class="brand">Fork.Kitchen</a></h4>
        <ul class="list-unstyled">
          <li><a href="{{ site.baseurl }}/recipes">Recipes</a></li>
          <li><a href="{{ site.baseurl }}/contributors">Contributors</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-md-offset-2">
        <h4>Team</h4>
          <ul class="list-unstyled team">
            <li>Nate Hill</li>
            <li>Matthew Kopel</li>
            <li>Nell Taylor</li>
            <li>Aaron Schachter</li>
            <li>Brodie Austin</li>
          </ul>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr>
      <p>Developed during the <a href="http://codexhackathon.com/">CODEX Hackathon</a>, which was, in fact, epic.</p>
    </div>
  </div>
</footer>
