/*http://www.colourlovers.com/palette/3806760/g%C3%B6kotta*/

html,body{
  font-size: 15px;
}

body{
  padding-top: 6rem;
  font-family: 'Rokkitt', serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Rokkitt', serif;
}

h2, h3{
  text-transform: uppercase;
  color: #CBCEC7;
  letter-spacing: 1px;
}

a{
  color: #D2721E;
}

a:hover{
  color: #594141;
  text-decoration: none;
  border-bottom: 1px solid #594141;
  box-shadow: inset 0 -2px 0 #594141;
}

figcaption{
  font-size: .8rem;
  font-style: italic;
}

figure + .description{
  margin-top: 1rem;
  line-height: 1.2;
}

.container.home{
  text-align: center;
}

/*bootstrap overrides*/
.navbar{
  height: 5rem;
  padding-top: .8rem;
}

.navbar a{
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar-inverse{
  background: #594141;
  border-bottom: 0;
}

.navbar-brand{
  margin-left: 0 !important;
  padding-left: 40px;
  background: url('/assets/img/fork-logo-32.png') no-repeat left center;
  color: #D2721E !important;
  text-transform: none;
}

.form-control{
  color: #6e7466;
  box-shadow: none;
}

.modal-dialog{
  max-width: 400px;
}

.thumb-caption p{
  line-height: 1.1;
}

/*buttons*/

.btn{
  background: #CBCEC7;
  border: 0;
  border-bottom: 2px solid #999e91;
  box-shadow: 0 1px 0 #999e91;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-fork{
  background: #D2721E url('/assets/img/fork-logo-32.png') no-repeat 4px center;
  background-size: 1.5rem;
  padding-left: 2rem;
  border-bottom: 2px solid #a55a18;
  box-shadow: 0 1px 0 #a55a18;
  color: #fff;
}

a.btn-fork:hover{
  border-bottom: 2px solid #a55a18;
  box-shadow: 0 1px 0 #a55a18;
}

/*search*/
.search-form{
  margin-top: .5rem;
  margin-right: 1rem;
}

.search-form .form-control{
  border: 1px solid #fff;
}

.search-form .input-group-addon{
  background: none;
}

.search-form i{
  color: #fff;
}

/*receipes list*/
.recipes img{
  transition: all .2s ease;
}

.recipes img:hover{
  -webkit-filter: opacity(.5);
}

/*recipe*/

.recipe{
  font-size: 1.2rem;
}

.recipe h2:first-of-type{
  margin-top: 0;
}

.recipe h2{
  margin-bottom: 0;
}

@media screen and (min-width: 992px){
  .tools{
    float: right;
    padding-top: 2rem;
  }
}

.tools .btn{
  margin-bottom: .5rem;
}

@media screen and (min-width: 992px){
  .tools .btn{
    margin-bottom: 0;
  }

  .tools .btn-fork{
    margin-right: 1rem;
  }
}

.recipe header{
  margin-bottom: 1rem;
}

@media screen and (min-width: 992px){
  .recipe header{
    margin-bottom: 0;
  }
}

.recipe header h1{
  font-size: 4rem;
  color: #D2721E;
}

.recipe .forked-recipe{
  margin-top: 1rem;
}

.meta-details{
  display: table;
  width: 100%;
  margin: 1.5rem 0;
  padding: 0;
  list-style: none;
}

.meta-details li{
  display: table-row;
}

.meta-label{
  display: table-cell;
  width: 25%;
  font-family: 'Rokkitt', serif;
  font-weight: 700;
}

.meta-value{
  display: table-cell;
  width: 75%;
}

.meta-value.cookbook{
  font-style: italic;
}

.variations{
  padding: 0;
  list-style: none;
}

.variations li{
  display: inline-block;
  margin: 0 .5rem .5rem;
  text-align: center;
}

.variation-count{
  display: block;
  width: 4rem;
  height: 4rem;
  margin: auto;
  line-height: 4rem;
  border-radius: 50%;
  background-color: #CBCEC7;
  font-size: 2rem;
  text-align: center;
}

.variation-count.spicy{
  background-color: #FF9D90;
}

.variation-count.regional{
  background-color: #FFDB96;
}

.variation-count.vegetarian{
  background-color: #D0F2BF;
}

.description{
  font-size: 1.4rem;
}

.ingredients{
  padding: 0;
  list-style: none;
}

.steps{
  padding-left: 1.5rem;
}

/*thumbnails*/

.thumb.rating{
  margin-top: -40px;
  text-align: right;
}

.thumb.caption{
  float: right;
}

.thumb.fa{
  font-size: 1.5em;
  margin-bottom: 5px;
  padding: 5px;
  color: #ffffff;
  opacity: .6;
}

.thumb.caption.home{
  font-size: 1.5em;
}

.thumb.caption{
  font-size: 1em;
}

.fa-stack-1x{
  font-size: 1em;
  color: #594141;
  font-weight: bold;
}

/*recipe form*/

.ingredient-group{
  padding-bottom: 1.5rem;
}

.recipe-item-controls{
  margin-top: .5rem;
}

.recipe-item-delete{
  color: red;
  font-size: 1.5rem !important;
}

.recipe-item-add{
  color: green;
  font-size: 1.5rem !important;
}

.recipe-author{
  line-height: 1.1;
}

/*footer*/
.site-footer{
  margin-top: 2rem;
  padding: 3rem 0;
  background: #CBCEC7;
}

.site-footer hr{
  border-top: 1px solid #999e91;
}

.team li{
  display: inline;
}

.team li:after{
  content: ", ";
}

.team li:last-of-type:after{
  content: "";
}
